In [2]:
# dependencies
import random
import pandas as pd
import requests
import json
import numpy as np
import glob
import json
import csv
import os

In [3]:
# read in jeopardy.csv1

file_jeo1 = "jeopardy_1.csv"
data_jeo1 = pd.read_csv(file_jeo1,index_col=None, header=0)
data_jeo1.head()

,gid,airdate,rnd,category,text,answer,value
0,346,1983-09-18,1,WORLD GEOGRAPHY,"This country's counties include Kerry, Kilken...",Ireland,25
1,346,1983-09-18,1,BEST-SELLERS,This Jacqueline Susann novel is the all-time ...,Valley of the Dolls,25
2,346,1983-09-18,1,SPORTS,He's won 5 of the 10 last U.S. Open tennis ti...,Jimmy Connors,25
3,346,1983-09-18,1,LISTS,Moses received this list on Mt. Sinai,the Ten Commandments,25
4,346,1983-09-18,1,WILD WEST,This was William Bonney's best-known alias,Billy the Kid,25

In [8]:
data_jeo1 = data_jeo1.rename(columns={"text":"Question", "answer": "Answer", "value": "Value", "category":"Category", 
                                      "airdate":"Air_Date"})
data_jeo1.columns
data_jeo1.head()

,gid,Air_Date,rnd,Category,Value,Question,Answer
0,346,1983-09-18,1,WORLD GEOGRAPHY,25,"This country's counties include Kerry, Kilken...",Ireland
1,346,1983-09-18,1,BEST-SELLERS,25,This Jacqueline Susann novel is the all-time ...,Valley of the Dolls
2,346,1983-09-18,1,SPORTS,25,He's won 5 of the 10 last U.S. Open tennis ti...,Jimmy Connors
3,346,1983-09-18,1,LISTS,25,Moses received this list on Mt. Sinai,the Ten Commandments
4,346,1983-09-18,1,WILD WEST,25,This was William Bonney's best-known alias,Billy the Kid

In [9]:
data_jeo1 = data_jeo1[['gid', 'Air_Date', 'rnd', 'Category', 'Value', 'Question', 'Answer']]
data_jeo1.head()

,gid,Air_Date,rnd,Category,Value,Question,Answer
0,346,1983-09-18,1,WORLD GEOGRAPHY,25,"This country's counties include Kerry, Kilken...",Ireland
1,346,1983-09-18,1,BEST-SELLERS,25,This Jacqueline Susann novel is the all-time ...,Valley of the Dolls
2,346,1983-09-18,1,SPORTS,25,He's won 5 of the 10 last U.S. Open tennis ti...,Jimmy Connors
3,346,1983-09-18,1,LISTS,25,Moses received this list on Mt. Sinai,the Ten Commandments
4,346,1983-09-18,1,WILD WEST,25,This was William Bonney's best-known alias,Billy the Kid

In [10]:
# read in jeopardy.csv2 cp1252
data_jeo2 = pd.read_csv("jeopardy_2.csv" , encoding="ISO-8859-1")
data_jeo2.columns

Index(['Show_Number', 'Air_Date', 'Round', 'Category', ' Value ', 'Question',
       'Answer'],
      dtype='object')

In [12]:
# merge tables
complete_jeopardy = pd.merge(data_jeo1, data_jeo2, on="Question", how="left")
complete_jeopardy

,gid,Air_Date_x,rnd,Category_x,Value,Question,Answer_x,Show_Number,Air_Date_y,Round,Category_y,Value,Answer_y
0,346,1983-09-18,1,WORLD GEOGRAPHY,25,"This country's counties include Kerry, Kilken...",Ireland,NaN,NaN,NaN,NaN,NaN,NaN
1,346,1983-09-18,1,BEST-SELLERS,25,This Jacqueline Susann novel is the all-time ...,Valley of the Dolls,NaN,NaN,NaN,NaN,NaN,NaN
2,346,1983-09-18,1,SPORTS,25,He's won 5 of the 10 last U.S. Open tennis ti...,Jimmy Connors,NaN,NaN,NaN,NaN,NaN,NaN
3,346,1983-09-18,1,LISTS,25,Moses received this list on Mt. Sinai,the Ten Commandments,NaN,NaN,NaN,NaN,NaN,NaN
4,346,1983-09-18,1,WILD WEST,25,This was William Bonney's best-known alias,Billy the Kid,NaN,NaN,NaN,NaN,NaN,NaN
5,346,1983-09-18,1,HERBS AND SPICES,25,Reportedly good for lowering blood pressure a...,garlic,NaN,NaN,NaN,NaN,NaN,NaN
6,346,1983-09-18,1,WORLD GEOGRAPHY,50,Only nation to cover an entire continent,Australia,NaN,NaN,NaN,NaN,NaN,NaN
7,346,1983-09-18,1,BEST-SELLERS,50,Hot horror author whose latest book is about ...,Stephen King,NaN,NaN,NaN,NaN,NaN,NaN
8,346,1983-09-18,1,SPORTS,50,"In golf, it's 2 under par for a hole",an eagle,NaN,NaN,NaN,NaN,NaN,NaN
9,346,1983-09-18,1,LISTS,50,He lists the ten worst-dressed,Mr. Blackwell,NaN,NaN,NaN,NaN,NaN,NaN
10,346,1983-09-18,1,WILD WEST,50,This town was the site of the gunfight at the...,Tombstone,NaN,NaN,NaN,NaN,NaN,NaN
11,346,1983-09-18,1,HERBS AND SPICES,50,These dried flower buds are a must with baked...,cloves,NaN,NaN,NaN,NaN,NaN,NaN
12,346,1983-09-18,1,WORLD GEOGRAPHY,75,"The Japanese name for Japan, meaning ""source ...",Nihon (or Nippon),NaN,NaN,NaN,NaN,NaN,NaN
13,346,1983-09-18,1,BEST-SELLERS,75,Recent expose of movie studio executive's way...,Indecent Exposure,NaN,NaN,NaN,NaN,NaN,NaN
14,346,1983-09-18,1,SPORTS,75,Famous Notre Dame football backfield with apo...,the Four Horsemen,NaN,NaN,NaN,NaN,NaN,NaN
15,346,1983-09-18,1,LISTS,175,"What this Paul Simon hit lists:""You just slip...",50 ways to leave your lover,NaN,NaN,NaN,NaN,NaN,NaN
16,346,1983-09-18,1,WILD WEST,75,Buffalo Bill and Wild Bill Hickok both worked...,the Pony Express,NaN,NaN,NaN,NaN,NaN,NaN
17,346,1983-09-18,1,HERBS AND SPICES,75,Spice made from the dried bark of a Ceylonese...,cinnamon,NaN,NaN,NaN,NaN,NaN,NaN
18,346,1983-09-18,1,WORLD GEOGRAPHY,100,The only country in Europe barred to American...,Albania,NaN,NaN,NaN,NaN,NaN,NaN
19,346,1983-09-18,1,SPORTS,100,"In college, Kareem Abdul-Jabbar played under ...",Lew Alcindor,NaN,NaN,NaN,NaN,NaN,NaN
20,346,1983-09-18,1,LISTS,100,"For them, ""The Book of Lists"" is a family aff...",the Wallaces (or the Wallechinskys),NaN,NaN,NaN,NaN,NaN,NaN
21,346,1983-09-18,1,WILD WEST,100,"This is the real name of""Custer's Last Stand""",(Battle of) the Little Bighorn,NaN,NaN,NaN,NaN,NaN,NaN
22,346,1983-09-18,1,HERBS AND SPICES,100,This herb's name comes from belief that it wi...,sage,NaN,NaN,NaN,NaN,NaN,NaN
23,346,1983-09-18,1,SPORTS,125,Superbowl trophy is named for this coach,Vince Lombardi,NaN,NaN,NaN,NaN,NaN,NaN
24,346,1983-09-18,1,WILD WEST,125,This gunfighter wound up a New York City spor...,Bat Masterson,NaN,NaN,NaN,NaN,NaN,NaN
25,346,1983-09-18,2,ANATOMY,50,"If the body were a car, they would be the car...",the lungs,NaN,NaN,NaN,NaN,NaN,NaN
26,346,1983-09-18,2,ISLANDS,50,The two island Boroughs of New York City,Manhattan & Staten Island,NaN,NaN,NaN,NaN,NaN,NaN
27,346,1983-09-18,2,THE SENATE,50,"The Constitution makes him ""president of the ...",the vice president of the U.S.,NaN,NaN,NaN,NaN,NaN,NaN
28,346,1983-09-18,2,FOREIGN PHRASES,50,"French phrase for food items, ordered individ...",a la carte,NaN,NaN,NaN,NaN,NaN,NaN
29,346,1983-09-18,2,SAMS,50,Popularized by famous WW-1 recruiting poster,Uncle Sam,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
357118,5645,2018-07-27,2,AROUND THE BODY,400,It's the more common name for the female gonads,ovaries,NaN,NaN,NaN,NaN,NaN,NaN
357119,5645,2018-07-27,2,DEFUNCT SPORTS FRANCHISES,400,"Between 1879 & 1915, this N.Y. city had 3 dif...",Buffalo,NaN,NaN,NaN,NaN,NaN,NaN
357120,5645,2018-07-27,2,NORSE GODS,400,"We can thank Freya, the goddess of love, for ...",Friday,NaN,NaN,NaN,NaN,NaN,NaN
357121,5645,2018-07-27,2,FOUND IN TRANSLATION,400,To restrict distribution of something scarce,ration,NaN,NaN,NaN,NaN,NaN,NaN
357122,5645,2018-07-27,2,THE U.S. CONGRESS WITH NANCY PELOSI,400,(Nancy Pelosi reads the clue.) I was the 52nd...,435,NaN,NaN,NaN,NaN,NaN,NaN
357123,5645,2018-07-27,2,CLASSICAL MUSIC TERMS,800,"4 letters--Italian for ""high""",alto,NaN,NaN,NaN,NaN,NaN,NaN
357124,5645,2018-07-27,2,AROUND THE BODY,800,"Arranged in 2 rows, 8 small carpal bones make...",the wrist,NaN,NaN,NaN,NaN,NaN,NaN
357125,5645,2018-07-27,2,DEFUNCT SPORTS FRANCHISES,800,"In the 1950s Washington, D.C. had a NBA team ...",the Capitols,NaN,NaN,NaN,NaN,NaN,NaN
357126,5645,2018-07-27,2,NORSE GODS,800,"Hermod, whose name means ""war spirit"", perfor...",delivering messages (or messenger),NaN,NaN,NaN,NaN,NaN,NaN
357127,5645,2018-07-27,2,FOUND IN TRANSLATION,800,"A facetious, often bawdy tribute banquet",a roast,NaN,NaN,NaN,NaN,NaN,NaN
357128,5645,2018-07-27,2,THE U.S. CONGRESS WITH NANCY PELOSI,800,(Nancy Pelosi reads the clue.) While Congress...,1812,NaN,NaN,NaN,NaN,NaN,NaN
357129,5645,2018-07-27,2,CLASSICAL MUSIC TERMS,1200,"French for ""German""",allemande,NaN,NaN,NaN,NaN,NaN,NaN
357130,5645,2018-07-27,2,AROUND THE BODY,3000,"Named for the way they release secretions, th...",exocrine and endocrine,NaN,NaN,NaN,NaN,NaN,NaN
357131,5645,2018-07-27,2,DEFUNCT SPORTS FRANCHISES,1200,"From 1974 to 1976, this city had a pro basket...",St. Louis,NaN,NaN,NaN,NaN,NaN,NaN
357132,5645,2018-07-27,2,NORSE GODS,1200,"Known for his eloquence & knowledge, Bragi wa...",poems,NaN,NaN,NaN,NaN,NaN,NaN
357133,5645,2018-07-27,2,FOUND IN TRANSLATION,1200,Irregular plural word for multiple layers of ...,strata,NaN,NaN,NaN,NaN,NaN,NaN
357134,5645,2018-07-27,2,THE U.S. CONGRESS WITH NANCY PELOSI,1200,(Nancy Pelosi reads the clue.) Nonvoting memb...,Puerto Rico,NaN,NaN,NaN,NaN,NaN,NaN
357135,5645,2018-07-27,2,CLASSICAL MUSIC TERMS,1600,"Italian for ""deep bass""",basso profundo,NaN,NaN,NaN,NaN,NaN,NaN
357136,5645,2018-07-27,2,AROUND THE BODY,1600,(Sarah of the Clue Crew presents a diagram of...,the dentin,NaN,NaN,NaN,NaN,NaN,NaN
357137,5645,2018-07-27,2,DEFUNCT SPORTS FRANCHISES,1600,The Stapletons briefly brought NFL action to ...,Staten Island,NaN,NaN,NaN,NaN,NaN,NaN
357138,5645,2018-07-27,2,NORSE GODS,1600,"Delling, whose name means ""luminous one"", was...",sunrise,NaN,NaN,NaN,NaN,NaN,NaN
357139,5645,2018-07-27,2,FOUND IN TRANSLATION,1600,To lean or tilt to one side,list (or slant),NaN,NaN,NaN,NaN,NaN,NaN
357140,5645,2018-07-27,2,THE U.S. CONGRESS WITH NANCY PELOSI,1600,(Nancy Pelosi reads the clue.) In February 20...,DACA,NaN,NaN,NaN,NaN,NaN,NaN
357141,5645,2018-07-27,2,CLASSICAL MUSIC TERMS,2000,"Italian for ""from the head""",da capo,NaN,NaN,NaN,NaN,NaN,NaN
357142,5645,2018-07-27,2,AROUND THE BODY,2000,The left one of these arteries originates ove...,the carotid arteries,NaN,NaN,NaN,NaN,NaN,NaN
357143,5645,2018-07-27,2,DEFUNCT SPORTS FRANCHISES,2000,In 1914 & 1915 the Terrapins repped this town...,Baltimore,NaN,NaN,NaN,NaN,NaN,NaN
357144,5645,2018-07-27,2,NORSE GODS,2000,This goddess of the dead has become synonymou...,Hel,NaN,NaN,NaN,NaN,NaN,NaN
357145,5645,2018-07-27,2,FOUND IN TRANSLATION,2000,Push the blue button in your GM car to get th...,OnStar,NaN,NaN,NaN,NaN,NaN,NaN
357146,5645,2018-07-27,2,THE U.S. CONGRESS WITH NANCY PELOSI,2000,"(Nancy Pelosi reads the clue.) In 2009, I pro...",Shirley Chisholm,NaN,NaN,NaN,NaN,NaN,NaN
357147,5645,2018-07-27,3,AMERICAN HISTORY,0,The last survivor of this battle that started...,the Battle of Lexington,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
complete_jeopardy.columns

Index(['gid', 'Air_Date_x', 'rnd', 'Category_x', 'Value', 'Question',
       'Answer_x', 'Show_Number', 'Air_Date_y', 'Round', 'Category_y',
       ' Value ', 'Answer_y'],
      dtype='object')

In [19]:
complete_jeopardy = complete_jeopardy.rename(columns={'gid': 'Game ID', 'Air_Date_x': "Air Date", 'rnd': "Rnd", 
                                                     'Category_x': "Category", 'Value': 'Value', 'Question': 'Question', 
                                                      'Answer_x':'Answer', 'Show_Number': 'Show Number', 
                                                      'Round':'Jeopardy_Double'})
complete_jeopardy.head()

,Game ID,Air Date,Rnd,Category,Value,Question,Answer,Show Number,Air_Date_y,Jeopardy_Double,Category_y,Value,Answer_y
0,346,1983-09-18,1,WORLD GEOGRAPHY,25,"This country's counties include Kerry, Kilken...",Ireland,NaN,NaN,NaN,NaN,NaN,NaN
1,346,1983-09-18,1,BEST-SELLERS,25,This Jacqueline Susann novel is the all-time ...,Valley of the Dolls,NaN,NaN,NaN,NaN,NaN,NaN
2,346,1983-09-18,1,SPORTS,25,He's won 5 of the 10 last U.S. Open tennis ti...,Jimmy Connors,NaN,NaN,NaN,NaN,NaN,NaN
3,346,1983-09-18,1,LISTS,25,Moses received this list on Mt. Sinai,the Ten Commandments,NaN,NaN,NaN,NaN,NaN,NaN
4,346,1983-09-18,1,WILD WEST,25,This was William Bonney's best-known alias,Billy the Kid,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
complete_jeopardy.columns

Index(['Game ID', 'Air Date', 'Rnd', 'Category', 'Value', 'Question', 'Answer',
       'Show Number', 'Air_Date_y', 'Jeopardy_Double', 'Category_y', ' Value ',
       'Answer_y'],
      dtype='object')

In [22]:
complete_jeopardy = complete_jeopardy[['Game ID', 'Show Number', 'Jeopardy_Double','Rnd', 'Air Date','Category', 'Value', 
                                       'Question', 'Answer']]
complete_jeopardy.head()

,Game ID,Show Number,Jeopardy_Double,Rnd,Air Date,Category,Value,Question,Answer
0,346,NaN,NaN,1,1983-09-18,WORLD GEOGRAPHY,25,"This country's counties include Kerry, Kilken...",Ireland
1,346,NaN,NaN,1,1983-09-18,BEST-SELLERS,25,This Jacqueline Susann novel is the all-time ...,Valley of the Dolls
2,346,NaN,NaN,1,1983-09-18,SPORTS,25,He's won 5 of the 10 last U.S. Open tennis ti...,Jimmy Connors
3,346,NaN,NaN,1,1983-09-18,LISTS,25,Moses received this list on Mt. Sinai,the Ten Commandments
4,346,NaN,NaN,1,1983-09-18,WILD WEST,25,This was William Bonney's best-known alias,Billy the Kid

In [23]:
complete_jeopardy.to_csv("complete_jeopardy.csv", index=False)